name: Simple Go Pipeline - validate

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  call-workflow:
    uses: baalimago/simple-go-pipeline/.github/workflows/validate.yml@main
    with:
      go-version: "1.24"
      prerun-step-cmd: "sudo apt update; sudo apt install ffmpeg -y"
